/*....................................... Navbar section........................................ */
.navbar, header {
    background-color: white !important; 
    min-height: 100vh; 
}

/* Adjust the navbar to not occupy the full page */
.navbar {
    min-height: auto;
}

/* Navbar center alignment and styling */
.navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-item {
    margin: 0 30px;
}

.nav-link {
    font-size: 50px;
    font-weight:bold; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: italic;
    text-transform: uppercase;
    padding: 10px;
    color: black; 
    transition: color 0.3s ease; /* Smooth color transition */
}

/* Resume link default style */
.navbar .resume-link {
    color: rgb(65, 191, 166); 
    transition: color 0.3s ease; /* Smooth color transition */
}

/* Navbar link hover and active styles */
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
    color: grey; 
}

.navbar .resume-link:hover, 
.navbar .resume-link:focus,
.navbar .resume-link:active{
    color: rgb(226, 103, 103); 
}

/* Remove margin from the first and last items */
.nav-item:first-child {
    margin-left: 0;
}

.nav-item:last-child {
    margin-right: 0;
}

/*..........image section..........*/

/* Header text styling and cursor effect */
header h1 {
    text-transform: uppercase; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    position: relative;
    display: inline-block; 
}

/* Cursor Effect */
header h1::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: blink 1s step-end infinite;
}

/* Blinking Cursor Animation */
@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Style for the image container */
header .container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    max-width: 600px; 
    height: auto; 
    aspect-ratio: 1 / 1; 
    object-fit: cover; 
    margin-top: 100px;
}
/* Style for Haiyue Yuan text */
header h1 {
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    display: inline-block;
    margin-top: 20px; 
    font-style: italic;
    font-weight:bolder; 
    font-size: 50px;
}

header .lead {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    font-size: 15px;
}

/*............................................. About section......................................... */
#about {
    background-color: rgb(234, 234, 234);
    min-height: 120vh; 
    color: #000; 
    display: flex; 
    justify-content: center;
    align-items: center; 
}

/* Styling the "ABOUT" text */
#about h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    text-align: center;
    font-weight: bolder;
    font-size: 80px;
    padding-top: 100px;
    position: relative;
}

/* Creating a content box for the paragraphs */
#about .content-box {
    padding: 10px;
    border-radius: 10px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    max-width: 800px; 
    margin: auto; 
    box-shadow: none;
    padding-bottom: 200px;
}

#about .content-box p {
    text-align: justify;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}

.underline-text {
    text-decoration: underline;
}

.interactive-text {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

.interactive-text:active,
.interactive-text:focus,
.interactive-text:hover{
    color: rgb(226, 103, 103);  
}

/*................................................ Licenses section......................... */
#certifications {
    background-color: white;
    min-height: 100vh; 
    justify-content: center;
    align-items: center;
    text-align:center;
}

#certifications .col-md-6 {
    margin-bottom: 50px;
    padding-top: 300px;
}

#certifications h3 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    text-align: left;
    font-weight: bolder;
    font-size: 50px;
    padding-bottom: 20px;
}

#certifications p {
    font-size: 30px; 
    text-align: left;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* Certifications section - image size adjustment */
#certifications img {
    width: 5px; 
    height: 5px; 
}


/*............................... Contact Form Section.......................................... */
#contact {
    background-color: rgb(234, 234, 234);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
}

/* Adjusting font sizes in Contact section */
#contact h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 80px; 
    font-weight: bold;
    padding: 40px;
    padding-top: 50px;
}

/* Style for form elements */
#contact-form .form-control {
    border: none;
    height: 20px; 
    padding: 30px;
    font-size: 16px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#contact-form .form-control:focus {
    border-color: #006ada;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* Style for textarea */
#contact-form textarea.form-control {
    height: 200px; 
    resize: vertical; 
}

/* Button Styles */
#contact-form button.btn {
    background-color: rgb(65, 191, 166); 
    color: white;
    border: 0;
    padding: 10px 100px;
    font-size: 16px; 
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    margin-top: 1rem; 
    width: auto; 
    min-width: 200px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#contact-form button.btn:hover,
#contact-form button.btn:focus,
#contact-form button.btn:active {
    background-color: rgb(226, 103, 103); 
    color: white;
    transition: color 0.3s ease;
}

/* Layout adjustments for form fields */
#contact .form-row {
    margin-bottom: 20px; 
}

/* Adjust column padding */
#contact .col-md-6 {
    padding-right: 15px; 
    padding-left: 15px;  
}

#contact .col {
    padding-right: 15px;
    padding-left: 15px;
}


/* ...............................Social Media and Footer Styles.............................*/
.social-media-and-footer {
    background-color: rgb(234, 234, 234); 
    padding: 40px 0; 
}

.social-media-links {
    margin-bottom: 30px; 
}

.social-media-links .social-icons a {
    font-size: 20px;
    color: #000;
    padding: 30px;
    font-family:sans-serif;
}

.social-media-links .social-icons a:hover,
.social-media-links .social-icons a:active,
.social-media-links .social-icons a:focus {
    color: rgb(226, 103, 103);
    text-decoration: none;
    transition: color 0.3s ease;
}

@media (max-width: 768px) {
    .social-media-links .social-icons a {
        font-size: 16px; /* Smaller size for mobile */
        padding: 10px; /* Reduced padding for mobile */
        margin: 0 5px; /* Reduced margin for mobile */
    }
}


footer {
    padding: 10px 0; 
    color: #000; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 0px;
}


/*.........................................................................................................*/
/* Hamburger Icon Style */
navbar-toggler {
    border: none;
    outline: none;
}

.navbar-toggler-icon {
    background-image: url("../img/Hamburger_icon.png"); 
    /* Set dimensions if needed */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Hide/show navbar on Iphone series sizes */
@media (max-width: 932px) {
    .navbar-collapse {
        display:flexbox;
    }

    .navbar-toggler {
        display:block;
    }
}

@media (min-width: 932px) {
    .navbar-toggler {
        display: flexbox;
    }

    .navbar-collapse {
        display: block;
    }
}

